---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();

const formattedDate = new Date(post.data.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<Layout title={post.data.title} description={post.data.description}>
  <header class="my-4 mb-9">
    <div class="flex">
      <a
        href="/blog"
        class="flex items-center gap-1 border rounded-md px-3 py-1 my-3 text-gray-400 pr-4"
      >
        <Icon name="mdi:arrow-left" /> Back
      </a>
    </div>
    <div class="space-y-2">
      <p class="text-gray-400">Published on {formattedDate}</p>
      <div class="w-full h-96 overflow-hidden rounded-md shadow border">
        <Image
          src={post.data.image}
          alt={post.data.title}
          class="w-full h-full object-cover"
          quality={80}
          format="webp"
        />
      </div>
      <div class="my-6">
        <h1 class="text-4xl font-bold mt-5">{post.data.title}</h1>
        <div class="flex items-center gap-2">
          {
            post.data.tags.map((tag) => (
              <span class="border rounded-full hover:bg-slate-100 cursor-default text-sm py-1 px-3">
                {tag}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </header>
  <main>
    <div
      class="prose prose-2xl overflow-visible relative prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-p:text-base px-2"
    >
      <Content />
    </div>
  </main>
</Layout>
