---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("posts");

const featuredPosts = allPosts.filter((post) => post.data.featured);
---

<Layout
  title="Blog | theshanumalik"
  description="Read the latest blog posts by theshanumalik. Learn about web development, programming, and more."
>
  <main class="space-y-3">
    <h1 class="text-2xl font-semibold my-6 text-gray-700">
      Blog | theshanumalik
    </h1>
    {
      featuredPosts.map((post) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          href={`/blog/${post.slug}`}
          date={post.data.date.toISOString()}
        />
      ))
    }
  </main>
</Layout>
