---
type Props = {
  title: string;
  description: string;
  href: string;
  tags: string[];
  date: string;
};
const { title, description, href, tags, date } = Astro.props;

const formatedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<article class="p-2 space-y-1">
  <small class="text-sm text-gray-400">{formatedDate}</small>
  <a href={href}>
    <h3 class="text-lg font-semibold hover:underline">{title}</h3>
  </a>
  <p class="text-gray-500">{description}</p>
  <div class="flex items-center gap-1">
    {
      tags.map((tag: string) => (
        <span class="border rounded-full hover:bg-slate-100 cursor-default text-sm py-1 px-3">
          {tag}
        </span>
      ))
    }
  </div>
</article>
