---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  project: CollectionEntry<"projects">;
  id: string;
};

const { project, id } = Astro.props;
---

<div
  class="border border-gray-700 p-3 rounded-xl backdrop-blur-sm shadow bg-gradient-to-tr to-zinc-700 from-slate-800 bg-opacity-65 hover:bg-gradient-to-tl transition-all duration-300 cursor-pointer space-y-2"
  data-model-trigger={id}
>
  <div
    class="relative after:w-full after:h-full after:bg-black after:absolute after:top-0 after:left-0 after:bg-opacity-30"
  >
    <Image
      class="w-full h-48 object-cover rounded-lg"
      src={project.data.image[0].src}
      alt={project.data.title}
      quality={40}
      format="webp"
    />
  </div>
  <h3 class="text-white">
    {project.data.title}
  </h3>
  <p class="text-ellipsis line-clamp-2 text-sm">
    {project.data.description}
  </p>
</div>
<dialog data-model={id} class="modal">
  <div class="modal-box max-w-xl p-3">
    <div class="carousel w-full">
      {
        project.data.image.map((image, index) => (
          <div id={`slide-${index}`} class="carousel-item relative w-full">
            <Image
              src={image.src}
              alt={image.alt}
              quality={50}
              format="webp"
              class="w-full"
            />
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a
                href={
                  index === 0
                    ? `#slide-${project.data.image.length - 1}`
                    : `#slide-${index - 1}`
                }
                class="btn btn-circle"
              >
                {"❮"}
              </a>
              <a
                href={
                  index === project.data.image.length - 1
                    ? `#slide-0`
                    : `#slide-${index + 1}`
                }
                class="btn btn-circle"
              >
                {"❯"}
              </a>
            </div>
          </div>
        ))
      }
    </div>
    <div class="collapse bg-base-200 collapse-arrow bg-transparent">
      <input type="checkbox" />
      <div class="collapse-title font-semibold">{project.data.title}</div>
      <div class="collapse-content">
        <p>{project.data.description}</p>
      </div>
    </div>
    {
      project.data.features && (
        <div class="collapse bg-base-200 collapse-arrow bg-transparent">
          <input type="checkbox" />
          <div class="collapse-title font-semibold">Features</div>
          <div class="collapse-content">
            <ul class="list-disc ml-3">
              {project.data.features?.map((item) => (
                <li class="text-sm">{item}</li>
              ))}
            </ul>
          </div>
        </div>
      )
    }
    <div class="px-3 space-y-3">
      <div class="flex flex-wrap gap-3">
        {
          project.data.technologies.map((tech) => (
            <span class="badge badge-outline badge-md px-4 py-3">{tech}</span>
          ))
        }
      </div>
      <h4>Links</h4>
      <div class="flex gap-3">
        {
          project.data.links.website && (
            <a
              href={project.data.links.website}
              class="btn btn-outline btn-sm rounded-full"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name={"mdi:web"} />
              Visit
            </a>
          )
        }
        {
          project.data.links.github && (
            <a
              href={project.data.links.github}
              class="btn btn-outline btn-sm rounded-full"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name={"mdi:github"} />
              Github
            </a>
          )
        }
        {
          project.data.links.article && (
            <a
              href={project.data.links.article}
              class="btn btn-outline btn-sm rounded-full"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name={"mdi:book-open"} />
              Article
            </a>
          )
        }
        {
          project.data.links.demo && (
            <a
              href={project.data.links.demo}
              class="btn btn-outline btn-sm rounded-full"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name={"mdi:play"} />
              Demo
            </a>
          )
        }
      </div>
      <hr class="border-gray-700" />
      <div class="flex flex-wrap gap-3">
        {
          project.data.tags.map((tag) => (
            <span class="badge badge-sm badge-outline rounded-md">{tag}</span>
          ))
        }
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
